<!DOCTYPE html>
<html>
<head>		
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Divvy - Share Your Files</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
			<img src="images/upload-file.png" />
            <h2>Divvy</h2>
			<p>Scan the QR Code</p>
			<img src="<%= qrcode %>" style=" width="300px" height="300px" />
			<p>Or navigate to</p>
			<h3 style="font-family:Arial;"><%= serverurl %></h3>
			<button id="view-files" class="btn btn-lg" type="button">View Files</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/jquery-2.2.0.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>
</body>
</html>
